.App {
  background-color: aqua;
}
body {
}
.home {
  background-color: orange;
  border-style: ridge;
}
.about {
  background-color: red;
  border-style: double;
}
.contact {
  background-color: green;
  border-style: dashed;
}
